.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.btn {
  padding: 15px;
  margin: 0;
  border: none;
  background: blue;
  color: aliceblue;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 6px;
  border: 1px solid blue;
}
.btn:hover {
  color: blue;
  background: aliceblue;
}
